html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.truncate-two {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.pre-wrap {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
